/* Navigation colors */
.lt-ie8 .wt-header .wt-main-menu-list {
  width: 528px;
}
.lt-ie8 .wt-header .wt-main-menu-list > li {
  margin-right: 0px;
  padding: 0 0 0 0;
  width: 130px;
  float: left;
}
.lt-ie8 .wt-header .wt-main-menu-list > li > a {
  padding: 0 0 0 40px;
}
.lt-ie8 .wt-header .wt-main-menu-list > li .wt-main-menu-txt {
  line-height: 24px;
}
.lt-ie8 .wt-header-border {
  height: 4px;
  margin: -4px auto 0;
}
.lt-ie8 .wt-partners .wt-partners-list {
  height: 65px;
}
.lt-ie8 .wt-partners .wt-partners-list > li {
  float: left;
  margin-left: 22px;
}
.wt-browser-happy {
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #00abf5;
}
.wt-browser-happy a {
  color: #FFFFFF;
  font-weight: bold;
}
