.lt-ie8{
	.wt-header{
		.wt-main-menu-list{
			width: 528px;
			> li {
				margin-right: 0px;
    			padding: 0 0 0 0;
				width: 130px;
				float: left;

    			> a{
    				padding: 0 0 0 40px;
    			}
    			.wt-main-menu-txt{
    				line-height: 24px;
    			}
    			
			}
		}
	}
	.wt-header-border{
		height: 4px;
		margin: -4px auto 0;
	}

	.wt-partners{
		.wt-partners-list{
			height: 65px;
			> li {
				float: left;
				margin-left: 22px;
			}
		}
	}
}