.wt-content{

}

.wt-partners{
	.wt-partners-list-title{
		color:#b0381f;
		padding-left: 22px;
		text-align: left;
		font-size: 18px;
		font-weight: normal;
		line-height: 40px;
		margin-bottom: 4px;
		> em{
			font-size: 28px;
		}
	}
	.wt-partners-list{
		list-style: none;
		margin: 0 0 25px 0;
		> li {
			display: inline-block;
			margin-left: 20px;

			> a{
				height: 63px;
				width:168px;
				border:1px solid @partner-border-color;
				display: block;
				text-align: center;
				> img{
					margin-top: 12px;
				}
			}
		}
	}
}