//Navigation colors
@nav-gradient-color-start:#561406;
@nav-gradient-color-stop: #962c16;
@nav-gradient-color-stop-2:#c34931;
@nav-menu-link-hover-bg-color:#c6482f;
@sub-nav-font-color:#635b50;
@sub-nav-border-color:#e1e2dd;

//blockquote colors
@blockquote-font-color:#483e3c;
@blockquote-font-color-warn:#a55611;
@blockquote-font-color-special:#af4024;
@blockquote-bg-color:#e8e9de;

//partner colors
@partner-border-color:#ededeb;

//footer colors
@footer-nav-border-color:#e1e2dd;
@footer-nav-font-color:#be4003;
@footer-nav-underline-color:#c6cabc;

//IE 6 Update colors
@browser-happy-bg-color:#00abf5;